# Flag indicating whether to use audio input/output.
# If false, all input/output will be text-based in the
# CLI.
UseAudio = true

# Specify the Diatheke server connection 
[Server]
    # Specify the server address as "<url>:<port>"
    Address = "localhost:9001"

    # Set to true if the server is running without a
    # secure (TLS) connection (not recommended for
    # production environments).
    Insecure = true

# If using audio input/output, specify the executables
# to handle recording and playback (e.g., sox).

# The recording app should output data to stdout
[Recording]
    # sox example (see http://sox.sourceforge.net/)
    Application = "sox"
    Args = "-q -d -c 1 -r 16000 -b 16 -L -e signed -t raw -"

# The playback app should accept input data from stdin
[Playback]
    # sox example (see http://sox.sourceforge.net/)
    Application = "sox"
    Args = "-q -c 1 -r 16000 -b 32 -L -e floating-point -t raw - -d"
